[submodule "pimame-web-frontend"]
	path = pimame-web-frontend
	url = https://github.com/ssilverm/pimame-web-frontend
[submodule "pimame-menu"]
	path = pimame-menu
	url = https://github.com/ssilverm/pimame-menu
[submodule "dispmanx"]
	path = dispmanx
	url = https://github.com/ssilverm/SDL12-kms-dispmanx
[submodule "controller-setup"]
	path = controller-setup
	url = https://github.com/ssilverm/controller-setup
[submodule "emulators-piplay"]
	path = emulators-piplay
	url = https://github.com/ssilverm/emulators-piplay
[submodule "emulators"]
	path = emulators
	url = https://github.com/ssilverm/emulators-piplay
